/* ===== FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* ===== COLOR PALETTE ===== */

:root {
--light-blue: #97B2DE;
--cobalt-blue: #1A488E; 
--dark-blue: #092147; 
--icons-blue: #03a9f4;
--white: #fff;
--test: #003147;
}

/* ===== RESETING AND BASIC STRUCTURE ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background-color: var(--white);
    margin: 50px;  
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

/* ===== LEFT SIDE ===== */
.container .left_Side {
    position: relative;
    background: var(--dark-blue);
    padding: 40px;
}

/* === Profile === */
.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: var(--white);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

/* === Contact Info === */
.contactInfo {
    padding-top: 40px;
    left: 100px;
}

.title {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: var(--icons-blue);
}

.contactInfo ul li span {
    color: var(--white);
    font-weight: 300;
}

.contactInfo ul li span a  {
    color: var(--white);
    font-weight: 300;
    text-decoration: none;
}

/* === Soft Skills === */

.contactInfo .soft_skills li {
    margin-bottom: 15px;
}

/* === Languages === */

.languages li .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.languages li .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--icons-blue);
}

/* ===== RIGHT SIDE ===== */

.container .right_Side {
    position: relative;
    background: var(--white);
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: var(--dark-blue);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .tools {
    min-width: 150px;
}

.about .box .tools h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h5{
    text-transform: uppercase;
    color: var(--cobalt-blue);
    font-size: 16px;
}

/* === Miscellaneous === */

.miscellaneous ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.miscellaneous ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.miscellaneous ul li .fa-brands {
    color: var(--icons-blue);
    font-size: 18px;
    width: 20px;
}

.miscellaneous ul li .fa-solid {
    color: var(--icons-blue);
    font-size: 18px;
    width: 20px;
}

/* === Portfolio === */

.portfolio ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.portfolio ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.portfolio ul li .fa-brands {
    color: var(--icons-blue);
    font-size: 18px;
    width: 20px;
}

.portfolio ul li .fa-solid {
    color: var(--icons-blue);
    font-size: 18px;
    width: 20px;
}

/* ===== RESPONSIVE SETTINGS ===== */

@media (min-width: 1185px) {
    #email {
        font-size: 14.5px;
    }
}

@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .miscellaneous ul {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 600px) {
    .about .box {
        flex-direction: column;
    }
    .miscellaneous ul {
        grid-template-columns: repeat(1,1fr);
    }
}




